
	body{font-family:Montserrat,dotum,sans-serif;color:#000;font-size:90%;}
	*{ margin:0;padding:0;}
	a:link, a:visited{color:#000;text-decoration:none;}
	a:hover, a:focus{color:#000;text-decoration:none;}
	html,body{height:100%; }


	   
       li{list-style-type:none;} 
	   img{border:0 none; }